<div class="registrar">

  <div class="heading">
    <div *ngIf="notifyMessage">{{ notifyMessage }}</div>

    <h2>Registrar</h2>

    <form [formGroup]="registerForm" (ngSubmit)="registerUser()">

      <div class="input-group input-group-lg">
        <input type="text" placeholder="CPF" formControlName="taxIdNumber">
      </div>

      <div class="input-group input-group-lg">
        <input type="text" placeholder="Nome Completo" formControlName="name">
      </div>

      <div class="input-group input-group-lg">
        <input type="text" placeholder="Data de Nascimento" formControlName="birthDate">
      </div>

      <div class="input-group input-group-lg">
        <input type="text" placeholder="Genero" formControlName="genre">
      </div>

      <div class="input-group input-group-lg">
        <input type="text" placeholder="Telefone" formControlName="phoneNumber">
      </div>

      <div class="input-group input-group-lg">
        <input type="email" placeholder="Email" formControlName="email">
      </div>

      <div class="input-group input-group-lg">
        <input type="password" placeholder="Senha" formControlName="password">
      </div>

      <input class="enviar" type="submit">
    </form>

    <div class="login">
      <a href="/login">Login</a>
    </div>
  </div>
</div>

